fastapi==0.100.0
hypercorn==0.14.4
langchain_community
youtube-transcript-api
pytube
python-dotenv
boto3
llama-parse
llama-index-core
llama-index-readers-file
pydantic
markitdown[all]
playwright
prometheus-client
pytest
pytest-asyncio
moto
Pillow
hdbscan==0.8.33
numpy==1.26.4
scikit-learn==1.5.0
langchain==0.2.5
langchain-google-genai==1.0.6
